language: java

jdk:
   - oraclejdk7

notifications:
  email:
    - krasnyanskiy.alex@gmail.com
    - o.krasnianskyi@globallogic.com
    - igor.nesterenko@globallogic.com
    - borys.kolesnykov@globallogic.com

branches:
  only:
    - develop

env:
  global:
    - secure: "Dwb41Mdes13RFaB9Pf4fViLVt9U0NK8EvbzrD/GcWfHjKi1GpAgQ0WyUdQSKrxLViH2OL4BqQIQmOtugkW1rNQn/Gnnb4Hu4/rZ06+tLStcvmrm9+Pph++niqzCxZe206/VwDV393UVPWtVpFtbhDTaiJOf0dP+3BX7NAzqW+JU="

after_success:
  - mvn clean cobertura:cobertura coveralls:cobertura